<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/global.css" />
    <title>auth-try</title>
  </head>
  <body>
    <div class="center h-screen w-full">
      <h1>auth-try</h1>
      <div class="center flex-row">
        <a href="/signup"><button class="button">Sign Up</button></a>
        <a href="/login"><button class="button">Log In</button></a>
      </div>
    </div>
  </body>
</html>
