<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/global.css" />
    <title>auth-try</title>
  </head>
  <body>
    <form class="center h-screen w-full">
      <h1>Sign Up</h1>
      <input type="email" placeholder="Email" name="email" />
      <input type="password" name="password" placeholder="Password" />

      <input type="submit" value="Sign Up" class="button" />
    </form>
  </body>
  <script src="/static/js/toast.js"></script>
  <script src="/static/js/signup.js"></script>
</html>
